body {
    background-image: url("pic/canvas.jpg");
    margin: 50px;
    background-attachment: fixed;
}

/*Название Главное*/
body > h1 {
    background-color: rgba(222, 184, 135, 0);
    font-family: monospace;
    font-size: 50px;
    font-style: italic;
    -webkit-text-stroke: 0.01em #d40000;
}

/*Заголовок Добро пожаловать*/
h1[name="header"] {
    background-color: rgba(222, 184, 135, 0);
    font-family: monospace;
    font-size: 30px;
    font-style: italic;
    margin-left: 420px;
    -webkit-text-stroke: 0.01em #d40000;
}

h3 {
    font-size: 26px;
    font-style: italic;
    -webkit-text-stroke: 0.01em rgb(220, 38, 38);
    text-align: center;

}

table,
p,
h2 {
    background-image: url("pic/paper.jpg");
    border-spacing: 5px;
    font-size: 18px;
    font-style: italic;
    text-align: justify;
    border: 2px solid #006440;
    border-radius: 20px;
    height: auto;
    width: 1260px;
    background-color: rgba(222, 184, 135, 0);
    font-family: sans-serif;
	padding: 5px 10px 5px 10px;
    -webkit-text-stroke: 0.03em rgb(130, 24, 24);

}

/*Вот и ты здесь..*/
p[name="vot"]{
    height: auto;
    width: 250px;
    margin-top: 50px;
}

/*Наша миссия..*/
p[name="mission"] {
    background-color: rgba(222, 184, 135, 0);
    width: 1170px;
    font-family: monospace;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    -webkit-text-stroke: 0.01em #d40000;
    margin-top: 40px;
}

/*Если для вас очевидно..*/
p[name="badFriend"]{
    height: auto;
    width: 350px;
    margin-top: -350px;
    margin-left: 820px;
}

/*Мы дружная команда*/
p[name="weBest"] {
    height: auto;
    width: 350px;
    margin-top: 150px;
    margin-left: 100px;
}

/*Благодаря запатентованной..*/
p[name="time"] {
    height: auto;
    width: 350px;
    margin-top: -120px;
    margin-left: 670px;
}

/*Если вы у нас окажетесь вновь...*/
p[name="petrovich"]{
    height: auto;
    width: 550px;
    margin-top: 300px;
    margin-left: 180px;
}


/*Наша Здравница названа...*/
div[name="aboutUs"]{
    border-spacing: 5px;
    font-size: 18px;
    font-style: italic;
    -webkit-text-stroke: 0.01em rgb(220, 38, 38);
    width: 1250px;
    height: auto;
    margin-top: 300px;
}

/*Значки*/
div[name="znaki"]{
    margin-top: -330px;
    margin-left: 200px;
}

/*Цитата директора*/
blockquote {
    height: 100px;
    width: 400px;
    margin-top: -124px;
    margin-left: 212px;
    background-image: url("pic/paper.jpg");
    border: 2px solid #006440;
    border-radius: 20px;
    border-spacing: 5px;
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
    padding-top: 5px;
    padding-left: 10px;
}
/*Блок цитаты босса*/
div[name="boss"]{
    margin-top: 150px;
    margin-left: 300px;
}

/*Невозможно отказаться...*/
div[name="aboutService"]{
    width: 1253px;
    margin-top: 80px;
    -webkit-text-stroke: 0.03em rgb(119, 66, 160);
    padding: 5px 10px 5px 10px;
    text-align: justify;
}

.banner {
    background-image: url("pic/paper.jpg");
    width: 400px;
    height: auto;
    border: 2px solid #006440;
    border-radius: 20px;
    border-spacing: 5px;
    font-style: italic;
    -webkit-text-stroke: 0.03em rgb(130, 24, 24);
    text-align: left;
    font-family: sans-serif;
    padding: 5px 10px 5px 10px;

}

/*Пожертвование*/
div[name="donate"] {
    margin-top: 50px;
    margin-left: 450px;
}

/*Поддержка*/
div[name="support"] {
    margin-top: -685px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

/*Приведи друга*/
div[name="friend"] {
    margin-top: -590px;
    margin-left: 900px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

/*Грамота гостя*/
div[name="aboutForm"]{
    background-image: url("pic/paper.jpg");
    width: 800px;
    height: auto;
    border: 2px solid #006440;
    border-radius: 21px;
    border-spacing: 5px;
    margin-top: 150px;
    margin-left: 0px;
    font-size: 20px;
    font-style: italic;
    -webkit-text-stroke: 0.01em rgb(254, 32, 32);
    text-align: left;
    font-family: sans-serif;
    padding: 5px 10px 10px 5px;

}

/*Кнопка Знайте же*/
input[name="getinfo"] {
    font-size: 26px;
    font-style: italic;
    -webkit-text-stroke: 0.01em rgb(220, 38, 38);
    text-align: center;
    margin-top: 2px;
    margin-bottom: 10px;
    margin-left: 320px;
}

/*Кнопка Подбросить*/
input[name="isubmit"] {
    font-size: 26px;
    font-style: italic;
    -webkit-text-stroke: 0.01em rgb(220, 38, 38);
    text-align: center;
    margin-top: 2px;
    margin-left: 102px;
}

/*Регулятор дров*/
input[name="amountMoney"] {
    width: 390px;
}

/*Таблица отзывов*/
table[name="tableFeedback"] {
    margin-top: 50px;
}

/*Анкета гостя*/
p[name="anketa"] {
    width: 780px;
	background-image: url("pic/papeer1.jpg");
    border-spacing: 0px;
    font-size: 18px;
    font-style: italic;
    -webkit-text-stroke: 0.01em rgb(38, 39, 220);
    text-align: justify;
    border: 0px solid #006440;
    border-radius: 0px;
    height: auto;
    background-color: rgba(222, 184, 135, 0);
    font-family: sans-serif;
	padding: 5px 10px 5px 10px;
}

/*Поле ввода текста в анкете*/
textarea[name="comment"] {
    width: 770px;
}

/*Приветственная картинка чертей*/
body > div:nth-child(16){
    margin-top: -5500px;
    margin-left: 355px;
}

/*Коллектив*/
div[name="kollektiv"] {
    margin-top: 210px;
    margin-left: 85px;
}

/*Часы*/
div[name="sand"] {
    margin-top: -420px;
    margin-left: 1050px;
}

/*Пётр*/
div[name="petr"] {
    margin-top: 80px;
    margin-left: 780px;
}

/*Телек*/
div[name="tv"] {
    margin-top: 3430px;
    margin-left: 860px;
}

/*Видео*/
div[name="vset"] {
    margin-top: -308px;
    margin-left: 900px;
}

/*стили черезстрочной окраски текста таблиц*/
tbody tr:nth-child(odd) {
    -webkit-text-stroke: 0.03em rgb(130, 24, 24);
}
tbody tr:nth-child(even) {
    -webkit-text-stroke: 0.03em rgb(119, 66, 160);
}

.container{
  min-width: 1270px;
}

select > :nth-child(1){
	background-color: burlywood;
	color: black;
}

select > :nth-child(3){
	background-color: rgb(24, 129, 24);
	color: white;
}

select > :nth-child(4){
	background-color: red;
	color: white;
}

select > :nth-child(5){
	background-color: darkviolet;
	color: white;
}

select > :nth-child(6){
	background-color: cyan;
	color: black;
}

select > :nth-child(7){
	background-color: gold;
	color: green;
}
