body {
    background-image: url("pic/fonbaby1.jpg");
    margin: 50px;
    background-attachment: fixed;
}

body > div:nth-child(5) > h1{
    font-size: 30px;
    font-style: italic;
    -webkit-text-stroke: 0.01em rgb(220, 38, 38);
margin-left: 420px;
    margin-top: 50px;
padding-bottom:10px;
}

h3 {
    font-size: 26px;
    font-style: italic;
    -webkit-text-stroke: 0.01em rgb(220, 38, 38);
    text-align: center;

}

table,
p,
h2 {
    background-image: url("pic/paper.jpg");

    border-spacing: 5px;
    font-size: 18px;
    font-style: italic;
    -webkit-text-stroke: 0.01em rgb(38, 39, 220);
    text-align: left;
    border: 2px solid #006440;
    border-radius: 20px;
    height: auto;
    width: 1260px;
    background-color: rgba(222, 184, 135, 0);
    font-family: sans-serif;
    padding-top: 5px;
    padding-left: 10px;
    padding-bottom: 5px;
}

/*Вот и ты здесь..*/
body > div:nth-child(5) > p:nth-child(2){
    height: auto;
    width: 250px;
    margin-top: 50px;
}

/*Наша миссия..*/
body > div:nth-child(5) > p:nth-child(3) {
    background-color: rgba(222, 184, 135, 0);
    width: 1170px;
    font-family: monospace;
    font-size: 20px;
    font-style: italic;
    text-align: center;
    -webkit-text-stroke: 0.01em #d40000;
    margin-top: 40px;
}

/*Если для вас очевидно..*/
body > div:nth-child(5) > p:nth-child(4) {
    height: auto;
    width: 350px;
    margin-top: -350px;
    margin-left: 820px;
}

/*Мы дружная команда*/
body > div:nth-child(5) > p:nth-child(5) {
    height: auto;
    width: 350px;
    margin-top: 150px;
    margin-left: 100px;
}

/*Благодаря запатентованной..*/
body > div:nth-child(5) > p:nth-child(6) {
    height: auto;
    width: 350px;
    margin-top: -120px;
    margin-left: 670px;
}

/*Если вы окозались...*/
body > div:nth-child(5) > p:nth-child(7) {
    height: auto;
    width: 550px;
    margin-top: 300px;
    margin-left: 180px;
}

/*Заголовок Добро пожаловать*/
body > div:nth-child(8) > h1 {
    background-color: rgba(222, 184, 135, 0);
    font-family: monospace;
    font-size: 30px;
    font-style: italic;
    margin-left: 420px;
    -webkit-text-stroke: 0.01em #d40000;
}

/*Название Главное*/
body > h1 {
    background-color: rgba(222, 184, 135, 0);
    font-family: monospace;
    font-size: 50px;
    font-style: italic;
    -webkit-text-stroke: 0.01em #d40000;
}

/*Наша Здравница названа...*/
body > div:nth-child(6) > h2 {
    background-image: url("pic/paper.jpg");
    border-spacing: 5px;
    font-size: 18px;
    font-style: italic;
    -webkit-text-stroke: 0.01em rgb(220, 38, 38);
    text-align: left;
    width: 1250px;
    height: auto;
    margin-top: 300px;
}

/*Значки*/
body > div:nth-child(7) {
    margin-top: -330px;
    margin-left: 200px;
}

/*Цитата директора*/
blockquote {
    height: 100px;
    width: 400px;
    margin-top: -124px;
    margin-left: 212px;
    background-image: url("pic/paper.jpg");
    border: 2px solid #006440;
    border-radius: 20px;
    border-spacing: 5px;
    font-size: 20px;
    font-style: italic;
    font-weight: 900;
    padding-top: 5px;
    padding-left: 10px;
}
/*Блок цитаты*/
body > div:nth-child(8) {
    margin-top: 150px;
    margin-left: 300px;
}

/*Невозможно отказаться...*/
body > div:nth-child(9) > p {
    width: 1253px;
    margin-top: 80px;
    -webkit-text-stroke: 0.03em rgb(119, 66, 160);
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
    text-align: center;
}

.banner {
    background-image: url("pic/paper.jpg");
    width: 400px;
    height: auto;
    border: 2px solid #006440;
    border-radius: 20px;
    border-spacing: 5px;
    font-style: italic;
    -webkit-text-stroke: 0.03em rgb(130, 24, 24);
    text-align: left;
    font-family: sans-serif;
    padding-top: 5px;
    padding-bottom: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

/*Пожертвование*/
body > div:nth-child(11) {
    margin-top: 50px;
    margin-left: 450px;
}

/*Поддержка*/
body > div:nth-child(12) {
    margin-top: -685px;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

/*Приведи друга*/
body > div:nth-child(13) {
    margin-top: -590px;
    margin-left: 900px;

    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

/*Грамота гостя*/
body > div:nth-child(14){
    background-image: url("pic/paper.jpg");
    width: 600px;
    height: auto;
    border: 2px solid #006440;
    border-radius: 21px;
    border-spacing: 5px;
    margin-top: 190px;
    margin-left: 360px;
    font-size: 20px;
    font-style: italic;
    -webkit-text-stroke: 0.01em rgb(254, 32, 32);
    text-align: left;
    font-family: sans-serif;
    padding-top: 5px;
    padding-left: 10px;
    padding-right: 10px;
}

/*Кнопка Знайте же*/
body > div:nth-child(14) > form > p > input[type=submit]:nth-child(22) {
    font-size: 26px;
    font-style: italic;
    -webkit-text-stroke: 0.01em rgb(220, 38, 38);
    text-align: center;
    margin-top: 2px;
    margin-bottom: 10px;
    margin-left: 200px;
}

/*Кнопка Подбросить*/
body > div:nth-child(11) > form > input[type=submit]:nth-child(2) {
    font-size: 26px;
    font-style: italic;
    -webkit-text-stroke: 0.01em rgb(220, 38, 38);
    text-align: center;
    margin-top: 2px;
    margin-left: 102px;
}

/*Регулятор дров*/
body > div:nth-child(11) > form > input[type=range]:nth-child(1) {
    width: 390px;
}

/*Таблица отзывов*/
body > div:nth-child(15) > table {
    margin-top: 50px;
}

/*Анкета гостя*/
body > div:nth-child(14) > form > p {
    width: 580px;
}

/*Поле ввода текста в анкете*/
body > div:nth-child(17) > form > p > textarea {
    width: 550px;
}

/*Приветственная картинка чертей*/
body > div:nth-child(16){
    margin-top: -5510px;
    margin-left: 355px;

}

/*Коллектив*/
body > div:nth-child(17) {
    margin-top: 210px;
    margin-left: 85px;
}

/*Часы*/
body > div:nth-child(18) {
    margin-top: -420px;
    margin-left: 1050px;
}

/*Пётр*/
body > div:nth-child(19) {
    margin-top: 80px;
    margin-left: 780px;
}

/*Телек*/
body > div:nth-child(20) {
    margin-top: 3530px;
    margin-left: 1000px;
}

/*Видео*/
body > div:nth-child(21) {
    margin-top: -315px;
    margin-left: 1040px;
}

/*стили черезстрочной окраски текста таблиц*/
tbody tr:nth-child(odd) {
    -webkit-text-stroke: 0.03em rgb(130, 24, 24);
}
tbody tr:nth-child(even) {
    -webkit-text-stroke: 0.03em rgb(119, 66, 160);
}
.container {
    min-width: 1200px;
}