body {
    background-image: url("pic/map.jpg");
    margin: 50px;
    background-repeat: repeat;
}

div {
    text-align: center;
    width: 450px;
    margin-left:150px
}

table {
    border-spacing: 5px;
    text-align: center;
    display: inline-block;
    background-image: url("pic/fon.jpg");
    background-repeat: round;
    border: 10px;
    width: 256px;
    margin-top: 25px;
    margin-left: -42px;

}

td {
    font-size: 45px;
    font-style: italic;
    font-family: Verdana, Geneva, sans-serif;
    color: cornsilk;
    text-align: center;
    width: 14px;
    -webkit-text-stroke: 0.04em #16009e;
}

blockquote {
    
    border: 2px solid #006440;
    border-radius: 20px;
    background-image: url("pic/paper.jpg");
    font-family: monospace;
    font-size: 15px;
    font-style: italic;
    opacity: 99%;
    margin: -95px 0px 33px 429px;
    width: 493px;
}

h1 {
    background-color: rgba(222, 184, 135, 0);
    font-family: monospace;
    font-size: 23px;
    font-style: italic;
    -webkit-text-stroke: 0.01em #d40000;
}

p {
   
    opacity: 90%;
    font-family: monospace;
    text-align: left;
    font-size: 19px;
    font-style: italic;
    -webkit-text-stroke: 0.01em #0040a1;
    margin-left: 20px;
}

form {
    border: 2px solid #006440;
    margin-top: 20px;
    border-radius: 10px;
    background-image: url("pic/paper.jpg")
}

.tabHead {
    height: 37px;
    color: rgba(250, 244, 0, 0.95);
    font-size: 23px;
    background-color: cornsilk;
    opacity: 85%;
}

.backgroundOfPage {
    background-image: url("pic/map.jpg");
    opacity: 73%;
    margin: 50px;
    background-repeat: repeat;
}

.container {
    width: 1100px;
}

.simbols {
    height: 24px;
    text-align: center;
}

.rowSpaces {
    width: 20px;
    background-color: rgba(255, 255, 255, 0);
    opacity: 30%;
}

.rowLines {
    height: 22px;
    background-color: rgba(255, 255, 255, 0);
    opacity: 50%;
    font-size: 18px;
}

.choosingCell {
    font-size: 45px;
    font-style: normal;
    font-family: Verdana, Geneva, sans-serif;
    text-align: center;
    background-color: rgba(0, 255, 43, 0);
    -webkit-text-stroke: 0.06em #16009e;
}

.buttonGladToSeeYou {
    margin: 10px;
    height: 40px;
    text-shadow:1px 1px 2px black
}

.choosingAI {
    height: 40px;
}

.shadowText{
    text-shadow:1px 1px 2px black;
}

.centering{
    margin-left: 250px;
}

.lefSide{
    margin-left: -150px;
}

#userNameForm {
    width: 300px;
    height: 33px;
    font-size: 15px;
    text-align: center;
    background-color: cornsilk;
}

.rightSide {
    width: 299px;
    margin-left:319px;
    margin-top: -543px;
}


}
