body{
    background-image:url('https://i.pinimg.com/originals/02/7b/fb/027bfbd3151ad3e3141cd60e97e2d293.jpg'); 
    
}

table{
    border-spacing:5px; 
    text-align: center; 
    display: inline-block; 
    background-image:url('https://kartinkin.net/uploads/posts/2021-03/thumbs/1616973065_34-p-utkonos-oboi-35.jpg');
}

.classic{
    
    }

#id_element{
    
    }

